path
transformers==4.30.0
tokenizers>=0.10.3
bert-score==0.3.7
allennlp
allennlp-models
tqdm
numpy
scikit-learn
scipy
nltk
sentencepiece
huggingface-hub
pybind11
six
regex
jieba
trl
#en_core_web_sm-3.4.1-py3-none-any.whl
